{"filter":false,"title":".gitignore","tooltip":"~/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":12},"action":"insert","lines":["*.sqlite3","*.pyc",".~c9","__pycahce__/"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":12},"end":{"row":3,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1563657063414,"hash":"6274817892c69f985ebf0c2f7336151da2b95422"}